In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as ply

In [59]:
train = pd.read_csv('loan_train.csv')
test = pd.read_csv('loan_test.csv')
data = pd.concat([train, test])
#train = train.iloc[:,:].values
#test = test.iloc[:,:].values

/home/prathamesh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [50]:
data

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,Education,Gender,LoanAmount,Loan_Amount_Term,Loan_ID,Loan_Status,Married,Property_Area,Self_Employed
0,5849,0.0,1.0,0,Graduate,Male,NaN,360.0,LP001002,Y,No,Urban,No
1,4583,1508.0,1.0,1,Graduate,Male,128.0,360.0,LP001003,N,Yes,Rural,No
2,3000,0.0,1.0,0,Graduate,Male,66.0,360.0,LP001005,Y,Yes,Urban,Yes
3,2583,2358.0,1.0,0,Not Graduate,Male,120.0,360.0,LP001006,Y,Yes,Urban,No
4,6000,0.0,1.0,0,Graduate,Male,141.0,360.0,LP001008,Y,No,Urban,No
5,5417,4196.0,1.0,2,Graduate,Male,267.0,360.0,LP001011,Y,Yes,Urban,Yes
6,2333,1516.0,1.0,0,Not Graduate,Male,95.0,360.0,LP001013,Y,Yes,Urban,No
7,3036,2504.0,0.0,3+,Graduate,Male,158.0,360.0,LP001014,N,Yes,Semiurban,No
8,4006,1526.0,1.0,2,Graduate,Male,168.0,360.0,LP001018,Y,Yes,Urban,No
9,12841,10968.0,1.0,1,Graduate,Male,349.0,360.0,LP001020,N,Yes,Semiurban,No
10,3200,700.0,1.0,2,Graduate,Male,70.0,360.0,LP001024,Y,Yes,Urban,No
11,2500,1840.0,1.0,2,Graduate,Male,109.0,360.0,LP001027,Y,Yes,Urban,NaN
12,3073,8106.0,1.0,2,Graduate,Male,200.0,360.0,LP001028,Y,Yes,Urban,No
13,1853,2840.0,1.0,0,Graduate,Male,114.0,360.0,LP001029,N,No,Rural,No
14,1299,1086.0,1.0,2,Graduate,Male,17.0,120.0,LP001030,Y,Yes,Urban,No
15,4950,0.0,1.0,0,Graduate,Male,125.0,360.0,LP001032,Y,No,Urban,No
16,3596,0.0,NaN,1,Not Graduate,Male,100.0,240.0,LP001034,Y,No,Urban,No
17,3510,0.0,0.0,0,Graduate,Female,76.0,360.0,LP001036,N,No,Urban,No
18,4887,0.0,1.0,0,Not Graduate,Male,133.0,360.0,LP001038,N,Yes,Rural,No
19,2600,3500.0,1.0,0,Graduate,Male,115.0,NaN,LP001041,Y,Yes,Urban,NaN
20,7660,0.0,0.0,0,Not Graduate,Male,104.0,360.0,LP001043,N,Yes,Urban,No
21,5955,5625.0,1.0,1,Graduate,Male,315.0,360.0,LP001046,Y,Yes,Urban,No
22,2600,1911.0,0.0,0,Not Graduate,Male,116.0,360.0,LP001047,N,Yes,Semiurban,No
23,3365,1917.0,0.0,2,Not Graduate,NaN,112.0,360.0,LP001050,N,Yes,Rural,No
24,3717,2925.0,NaN,1,Graduate,Male,151.0,360.0,LP001052,N,Yes,Semiurban,NaN
25,9560,0.0,1.0,0,Graduate,Male,191.0,360.0,LP001066,Y,Yes,Semiurban,Yes
26,2799,2253.0,1.0,0,Graduate,Male,122.0,360.0,LP001068,Y,Yes,Semiurban,No
27,4226,1040.0,1.0,2,Not Graduate,Male,110.0,360.0,LP001073,Y,Yes,Urban,No
28,1442,0.0,1.0,0,Not Graduate,Male,35.0,360.0,LP001086,N,No,Urban,No
29,3750,2083.0,1.0,2,Graduate,Female,120.0,360.0,LP001087,Y,No,Semiurban,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,2292,1558.0,1.0,0,Graduate,Male,119.0,360.0,LP002856,NaN,Yes,Urban,No
338,2360,3355.0,1.0,1,Graduate,Male,87.0,240.0,LP002857,NaN,Yes,Rural,Yes
339,4333,2333.0,0.0,0,Graduate,Female,162.0,360.0,LP002858,NaN,No,Rural,No
340,2623,4831.0,1.0,0,Graduate,Male,122.0,180.0,LP002860,NaN,Yes,Semiurban,Yes
341,3972,4275.0,1.0,0,Graduate,Male,187.0,360.0,LP002867,NaN,No,Rural,Yes
342,3522,0.0,1.0,3+,Not Graduate,Male,81.0,180.0,LP002869,NaN,Yes,Rural,No
343,4700,0.0,1.0,1,Graduate,Male,80.0,360.0,LP002870,NaN,Yes,Urban,No
344,6858,0.0,1.0,0,Graduate,Male,176.0,360.0,LP002876,NaN,No,Rural,No
345,8334,0.0,1.0,3+,Graduate,Male,260.0,360.0,LP002878,NaN,Yes,Urban,No
346,3391,1966.0,0.0,0,Graduate,Male,133.0,360.0,LP002879,NaN,Yes,Rural,No
347,2868,0.0,1.0,0,Not Graduate,Male,70.0,360.0,LP002885,NaN,No,Urban,No
348,3418,1380.0,1.0,2,Not Graduate,Male,135.0,360.0,LP002890,NaN,Yes,Urban,No
349,2500,296.0,1.0,0,Graduate,Male,137.0,300.0,LP002891,NaN,Yes,Rural,Yes
350,8667,0.0,1.0,2,Graduate,Male,254.0,360.0,LP002899,NaN,Yes,Rural,No
351,2283,15000.0,NaN,0,Graduate,Male,106.0,360.0,LP002901,NaN,No,Rural,No
352,5817,910.0,1.0,0,Graduate,Male,109.0,360.0,LP002907,NaN,Yes,Urban,No
353,5119,3769.0,1.0,0,Graduate,Male,120.0,360.0,LP002920,NaN,Yes,Rural,No
354,5316,187.0,0.0,3+,Not Graduate,Male,158.0,180.0,LP002921,NaN,Yes,Semiurban,No
355,7603,1213.0,1.0,3+,Graduate,Male,197.0,360.0,LP002932,NaN,Yes,Urban,No
356,3791,1936.0,1.0,1,Graduate,Male,85.0,360.0,LP002935,NaN,Yes,Urban,No
357,2500,0.0,1.0,0,Graduate,Male,60.0,360.0,LP002952,NaN,No,Urban,No
358,3132,0.0,NaN,2,Not Graduate,Male,76.0,360.0,LP002954,NaN,Yes,Rural,No
359,4000,2667.0,1.0,0,Graduate,Male,152.0,360.0,LP002962,NaN,No,Semiurban,No
360,8550,4255.0,NaN,0,Graduate,Female,96.0,360.0,LP002965,NaN,Yes,Urban,No
361,2269,2167.0,1.0,1,Graduate,Male,99.0,360.0,LP002969,NaN,Yes,Semiurban,No
362,4009,1777.0,1.0,3+,Not Graduate,Male,113.0,360.0,LP002971,NaN,Yes,Urban,Yes
363,4158,709.0,1.0,0,Graduate,Male,115.0,360.0,LP002975,NaN,Yes,Urban,No
364,3250,1993.0,NaN,0,Graduate,Male,126.0,360.0,LP002980,NaN,No,Semiurban,No
365,5000,2393.0,1.0,0,Graduate,Male,158.0,360.0,LP002986,NaN,Yes,Rural,No
366,9200,0.0,1.0,0,Graduate,Male,98.0,180.0,LP002989,NaN,No,Rural,Yes

In [51]:
data.apply(lambda x: sum(x.isnull()))

ApplicantIncome        0
CoapplicantIncome      0
Credit_History        79
Dependents            25
Education              0
Gender                24
LoanAmount            27
Loan_Amount_Term      20
Loan_ID                0
Loan_Status          367
Married                3
Property_Area          0
Self_Employed         55
dtype: int64

In [86]:
replace_dict = {1.0:'Yes', 0.0:'No'}
train.Credit_History = train.Credit_History.replace(replace_dict)
test.Credit_History = test.Credit_History.replace(replace_dict)
train.Credit_History = train.Credit_History.fillna('Unknown')
test.Credit_History = test.Credit_History.fillna('Unknown')

In [87]:
replace_dict = {'0':'0', '1':'1', '2':'2', '3+':'3'}

train.Dependents = train.Dependents.replace(replace_dict)
test.Dependents = test.Dependents.replace(replace_dict)
train.Dependents = train.Dependents.fillna('Unknown')
test.Dependents = test.Dependents.fillna('Unknown')

In [88]:
train.apply(lambda x: sum(x.isnull()))

Loan_ID               0
Gender               13
Married               3
Dependents            0
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [89]:
train.LoanAmount = train.LoanAmount.transform(lambda x: x.fillna(x.mean()))
test.LoanAmount = test.LoanAmount.transform(lambda x: x.fillna(x.mean()))
train.Loan_Amount_Term = train.Loan_Amount_Term.transform(lambda x: x.fillna(x.mean()))
test.Loan_Amount_Term = test.Loan_Amount_Term.transform(lambda x: x.fillna(x.mean()))

In [90]:
test.apply(lambda x: sum(x.isnull()))

Loan_ID               0
Gender               11
Married               0
Dependents            0
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
dtype: int64

In [91]:
train.Self_Employed = train.Self_Employed.fillna('Unknown')
test.Self_Employed = test.Self_Employed.fillna('Unknown')

In [92]:
test.apply(lambda x: sum(x.isnull()))

Loan_ID               0
Gender               11
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
dtype: int64

In [96]:
train.Gender = train.Gender.fillna('Unknown')
test.Gender = test.Gender.fillna('Unknown')
train.Married = train.Married.fillna('Unknown')
test.Married = test.Married.fillna('Unknown')

In [97]:
test.apply(lambda x: sum(x.isnull()))

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [98]:
train.apply(lambda x: sum(x.isnull()))

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64