In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
train['source'] = 'train'
test['source'] = 'test'

In [6]:
data = pd.concat([train, test],ignore_index=False)

/home/prathamesh/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [7]:
data.head()

,ID,age,black,chas,crim,dis,indus,lstat,medv,nox,ptratio,rad,rm,source,tax,zn
0,1,65.2,396.90,0,0.00632,4.0900,2.31,4.98,24.0,0.538,15.3,1,6.575,train,296,18.0
1,2,78.9,396.90,0,0.02731,4.9671,7.07,9.14,21.6,0.469,17.8,2,6.421,train,242,0.0
2,4,45.8,394.63,0,0.03237,6.0622,2.18,2.94,33.4,0.458,18.7,3,6.998,train,222,0.0
3,5,54.2,396.90,0,0.06905,6.0622,2.18,5.33,36.2,0.458,18.7,3,7.147,train,222,0.0
4,7,66.6,395.60,0,0.08829,5.5605,7.87,12.43,22.9,0.524,15.2,5,6.012,train,311,12.5

In [10]:
data.apply(lambda x: sum(x.isnull()))

ID           0
age          0
black        0
chas         0
crim         0
dis          0
indus        0
lstat        0
medv       173
nox          0
ptratio      0
rad          0
rm           0
source       0
tax          0
zn           0
dtype: int64